title: DeepEcoHab
author: DeepEcoHab team 
logo: dashboard_image.png

execute:
  execute_notebooks: force

latex:
  latex_documents:
    targetname: book.tex

bibtex_bibfiles:
  - references.bib

repository:
  url: https://github.com/KonradDanielewski/DeepEcoHab
  path_to_book: docs
  branch: main

html:
  use_issues_button: true
  use_repository_button: true
